@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --primary: #2563EB;
    --secondary: #292d3d;
    --secondary2: #e5eefd; 
    --opacity: rgba(55, 114, 255, 1);
    --radius: 10px;
}

.wrapper_button {
    position: relative;
}

.tooltip_copied {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    color: #fff;
    background: #2563EB;
    border-radius: 10px;
    transform: translateY(-50px) translateX(-70px);
    z-index: 99;
}

.tooltip_copied::before {
    content: '';
    position: absolute;
    left: calc(50% - 6px);
    bottom: -5px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: #2563EB;
    transform: rotate(45deg);
}